In [251]:
import pandas as pd
import numpy as np

In [329]:
class TestClass:
    
    def __init__(self, name):
        self.name = name
        self._rand = np.random.random()
        
    @property
    def price(self):
        return round(self._rand*100, 2)
    
    def __repr__(self):
        return self.name
    
    def __lt__(self, other):
        return self.name < other.name
    
    def __gt__(self, other):
        return self.name > other.name

Purchases

In [330]:


def gen_purchs():
    nokia = TestClass("Nokia")
    nodrea = TestClass("Nordea")
    fortum = TestClass("Fortum")
    df = pd.DataFrame([
        {"asset": nokia, "price":5, "quantity":200, "remaining":10},
        {"asset": nokia, "price":5, "quantity":200, "remaining":150}, 
        {"asset": nodrea, "price":5.3, "quantity":150, "remaining":150},
        {"asset": nodrea, "price":5.2, "quantity":50, "remaining":50},
        {"asset": nokia, "price":4.9, "quantity":20, "remaining":20},
        {"asset": fortum, "price":5, "quantity":200, "remaining":0},
    ])
    return df

df = gen_purchs()
df

    asset  price  quantity  remaining
0   Nokia    5.0       200         10
1   Nokia    5.0       200        150
2  Nordea    5.3       150        150
3  Nordea    5.2        50         50
4   Nokia    4.9        20         20
5  Fortum    5.0       200          0

In [414]:
df = gen_purchs().set_index("asset")
df
df["cur_price"] = df.index.map(lambda row: row.price)
df
batch_values = (df["remaining"] * df["cur_price"]).groupby("asset").sum()
batch_values
#batch_values.groupby("asset").sum()
batch_values["cash"] = 5000
batch_values / batch_values.sum()

asset
Fortum    0.000000
Nokia     0.184055
Nordea    0.491746
cash      0.324200
dtype: float64

In [433]:
mylist = ["A","B","C","D","E"]
for i, element in enumerate(mylist):
    previous_element = mylist[i-1] if i > 0 else None
    current_element = element
    next_element = mylist[i+1] if i < len(mylist)-1 else None
    print(previous_element, current_element, next_element)

None A B
A B C
B C D
C D E
D E None

In [432]:
mylist = [1,2,3,4,5]
for x,y in zip(mylist[::],mylist[1::]):
    print (x,y)

1 2
2 3
3 4
4 5

In [424]:
import itertools
list(itertools.combinations(mylist, 2))

[(1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 4),
 (3, 5),
 (4, 5)]

In [296]:
df.groupby("asset")["remaining"].sum() * df["asset"].apply(lambda row: row.price)
# ["asset"].apply(lambda row: row.price)

AttributeError: 'int' object has no attribute 'name'

History book

In [257]:
df = pd.DataFrame([
    {"asset": TestClass(), "price":5, "quantity":200, "type":"buy", "total": -5*200},
    {"asset": TestClass(), "price":5, "quantity":200, "type":"buy", "total": -5*200}, 
    {"asset": TestClass(), "price":5.3, "quantity":150, "type":"buy", "total": -5.3*200},
    {"asset": TestClass(), "price":5.2, "quantity":50, "type":"sell", "total": 5.2*50},
    {"asset": TestClass(), "price":4.9, "quantity":20, "type":"sell", "total": 4.9*20},
    {"asset": TestClass(), "price":5, "quantity":200, "type":"buy", "total": -5*200},
])
df

bought_amount = df.query("(asset == 'Nokia') & (type == 'buy')")["quantity"].sum()
sold_amount = df.query("(asset == 'Nokia') & (type == 'sell')")["quantity"].sum()
remaining = bought_amount - sold_amount

(df["price"] * df["quantity"] / df["quantity"].sum()).sum()
df

,asset,price,quantity,total,type
0,<__main__.TestClass object at 0x00000196D132E940>,5.0,200,-1000.0,buy
1,<__main__.TestClass object at 0x00000196D132E978>,5.0,200,-1000.0,buy
2,<__main__.TestClass object at 0x00000196D132E9B0>,5.3,150,-1060.0,buy
3,<__main__.TestClass object at 0x00000196D132E9E8>,5.2,50,260.0,sell
4,<__main__.TestClass object at 0x00000196D132EA20>,4.9,20,98.0,sell
5,<__main__.TestClass object at 0x00000196D132EA58>,5.0,200,-1000.0,buy

In [137]:
bought = df[(df["type"] == "buy")].copy()

0    0.751838
1    0.832595
2    0.427759
3    0.794496
4    0.663723
5    0.369915
Name: asset, dtype: float64

In [249]:
idx = bought.index[bought["asset"] == "Nokia"][0]
bought.loc[idx, "quantity"] -= 200
bought

    asset  price  quantity   total type
0  Fortum    5.0       200 -1000.0  buy
1   Nokia    5.0     -7200 -1000.0  buy
2   Nokia    5.3     -3850 -1060.0  buy
5  Fortum    5.0       200 -1000.0  buy

In [439]:
def test():
    pass
_x = test()
_x is None

True

In [448]:
pd.concat([pd.Series([2,3,5]), pd.Series([2,3,5]), pd.Series([2,3,5])], axis=1)

SyntaxError: invalid syntax (<ipython-input-448-9c35de01df9a>, line 1)

In [441]:
pd.DataFrame([[2,3,4], [2,3,5]])

   0  1  2
0  2  3  4
1  2  3  5

In [222]:
bought.groupby("asset")["quantity"].sum()#.loc[:, ["price", "quantity"]]

asset
Fortum      400
Nokia    -10850
Name: quantity, dtype: int64

In [238]:
[(index, u.quantity) for index, u in bought.iloc[:, [1,2 ]].iterrows()]

[(0, 200.0), (1, -7000.0), (2, -3850.0), (5, 200.0)]

In [240]:
import numpy as np
np.float64(None)

nan

In [243]:
class MyClass:
    pass

In [248]:
set([MyClass, MyClass])

{__main__.MyClass}

In [60]:
_to_settle

0    False
1    False
2     True
3     True
Name: total, dtype: bool

In [55]:
df[_to_settle]

   asset  price  quantity   total type
0  Nokia    5.0       200 -1000.0  buy

In [22]:
while amount > 0:
    sold_batch = dfb

130

In [39]:
df.append({"profit":20}, ignore_index=True)

   asset  price  quantity   total  type  profit
0  Nokia    5.0     200.0 -1000.0   buy     NaN
1  Nokia    5.3     150.0 -1060.0   buy     NaN
2  Nokia   -5.2      50.0   260.0  sell     NaN
3  Nokia   -4.9      20.0    98.0  sell     NaN
4    NaN    NaN       NaN     NaN   NaN    20.0

In [37]:
df.loc[df.type == "sell", "price"] = -df["price"]

In [38]:
df

   asset  price  quantity   total  type
0  Nokia    5.0       200 -1000.0   buy
1  Nokia    5.3       150 -1060.0   buy
2  Nokia   -5.2        50   260.0  sell
3  Nokia   -4.9        20    98.0  sell