In [2]:
import pandas as pd

In [136]:
df = pd.DataFrame([
    {"asset":"Fortum", "price":5, "quantity":200, "type":"buy", "total": -5*200},
    {"asset":"Nokia", "price":5, "quantity":200, "type":"buy", "total": -5*200}, 
    {"asset":"Nokia", "price":5.3, "quantity":150, "type":"buy", "total": -5.3*200},
    {"asset":"Nokia", "price":5.2, "quantity":50, "type":"sell", "total": 5.2*50},
    {"asset":"Nokia", "price":4.9, "quantity":20, "type":"sell", "total": 4.9*20},
    {"asset":"Fortum", "price":5, "quantity":200, "type":"buy", "total": -5*200},
])
df

bought_amount = df.query("(asset == 'Nokia') & (type == 'buy')")["quantity"].sum()
sold_amount = df.query("(asset == 'Nokia') & (type == 'sell')")["quantity"].sum()
remaining = bought_amount - sold_amount

(df["price"] * df["quantity"] / df["quantity"].sum()).sum()
df

    asset  price  quantity   total  type
0  Fortum    5.0       200 -1000.0   buy
1   Nokia    5.0       200 -1000.0   buy
2   Nokia    5.3       150 -1060.0   buy
3   Nokia    5.2        50   260.0  sell
4   Nokia    4.9        20    98.0  sell
5  Fortum    5.0       200 -1000.0   buy

In [137]:
bought = df[(df["type"] == "buy")].copy()

1

In [214]:
idx = bought.index[bought["asset"] == "Nokia"][0]
bought.loc[idx, "quantity"] -= 200
bought

    asset  price  quantity   total type
0  Fortum    5.0       200 -1000.0  buy
1   Nokia    5.0     -7000 -1000.0  buy
2   Nokia    5.3     -3850 -1060.0  buy
5  Fortum    5.0       200 -1000.0  buy

In [215]:
del bought.loc[idx, "quantity"]

AttributeError: __delitem__

In [222]:
bought.groupby("asset")["quantity"].sum()#.loc[:, ["price", "quantity"]]

asset
Fortum      400
Nokia    -10850
Name: quantity, dtype: int64

In [238]:
[(index, u.quantity) for index, u in bought.iloc[:, [1,2 ]].iterrows()]

[(0, 200.0), (1, -7000.0), (2, -3850.0), (5, 200.0)]

In [240]:
import numpy as np
np.float64(None)

nan

In [243]:
class MyClass:
    pass

In [248]:
set([MyClass, MyClass])

{__main__.MyClass}

In [60]:
_to_settle

0    False
1    False
2     True
3     True
Name: total, dtype: bool

In [55]:
df[_to_settle]

   asset  price  quantity   total type
0  Nokia    5.0       200 -1000.0  buy

In [22]:
while amount > 0:
    sold_batch = dfb

130

In [39]:
df.append({"profit":20}, ignore_index=True)

   asset  price  quantity   total  type  profit
0  Nokia    5.0     200.0 -1000.0   buy     NaN
1  Nokia    5.3     150.0 -1060.0   buy     NaN
2  Nokia   -5.2      50.0   260.0  sell     NaN
3  Nokia   -4.9      20.0    98.0  sell     NaN
4    NaN    NaN       NaN     NaN   NaN    20.0

In [37]:
df.loc[df.type == "sell", "price"] = -df["price"]

In [38]:
df

   asset  price  quantity   total  type
0  Nokia    5.0       200 -1000.0   buy
1  Nokia    5.3       150 -1060.0   buy
2  Nokia   -5.2        50   260.0  sell
3  Nokia   -4.9        20    98.0  sell